<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon.png">
    <link rel="stylesheet" href="/public/styles.css">
</head>

<body>
    <header>
        <nav class="nav">
            <a href="#" class="nav-item is-active" active-color="#213685">Home</a>
            <a href="#" class="nav-item" active-color="#213685">About</a>
            <a href="#" class="nav-item" active-color="#213685">Projects</a>
            <a href="#" class="nav-item" active-color="#213685">Contact</a>
            <span class="nav-indicator"></span>
        </nav>
    </header>

    <main>
        <section>
            <div class="container-home">
                <div class="container-image-avatar">
                    <img src="https://avatars.githubusercontent.com/u/57924764?s=400&u=cb7b63d7c98f2657a1a68a05a060d86551fd004f&v=4"
                        alt class="avatar">
                </div>
                <div class="container-description">
                    <p>Home text little apresentation!</p>
                </div>
            </div>
            <div class="container-about">
                <!-- Conteúdo da seção About -->
            </div>
            <div class="container-projects">
                <!-- Conteúdo da seção Projects -->
            </div>
            <div class="container-contact">
                <div class="url-linkedin">
                    <a href="https://www.linkedin.com/in/yuri-r-motoshima/" target="_blank">
                        <img src="/public/In-Blue-34.png" alt="The Linkedin Site icon">
                    </a>
                    <a href="https://github.com/YuriMotoshima">
                        <img src="/public/github.svg" alt="The GitHub icon" style="width:34px">
                    </a>
                </div>
            </div>
        </section>
    </main>
    <footer>
        Todos direitos reservados a Motoshima.
    </footer>

    <script type="module" src="/public/scripts.js"></script>
</body>

</html>